<div class="w-full sticky top-0 z-20 menuContainer">
    <div class="crop-width text-white py-3 flex items-center border-b border-gray-400 justify-between">
        <!-- <img class="w-[100px]" src="https://eskooly.com/assets/images/logos/logoxx.png"> -->
        <img class="w-[50px]" src="shopify.png">
        <div class="flex items-center menu-items">
        <p>Home</p>
        <p>About</p>
        <p>Contact</p>
        </div>
        <div class="">
            <button class="border-2 bg-white text-black rounded-xl px-3 py-1 me-3">Subscribe</button>
            <button class="ms-2">Login</button>
        </div>
   
    </div>
</div>

