
<div class="relative homeLanding">
    <div class="w-full crop-width flex flex-wrap items-center">
        <div class="text-center text-white pb-10 w-full">
            <h1 class=" font-bold text-5xl text-center pt-20 tracking-wider">Free Online School <br> Management Software.
            </h1>
            <p class="pt-8">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, unde. Vel sint consectetur sit, <br> officia odio aliquam nemo assumenda quis animi hic quibusdam enim, modi, asperiores dolorum minima quae libero!</p>
            <div class="flex w-fit mx-auto pt-10">
                <button class="">Subscribe Now</button>
                <button class="bg-white text-[#0b0f51] rounded-lg p-4 px-7 ms-5 font-bold">Get Demo ></button>
            </div>
            <img class="rounded-lg mx-auto mt-5" src="graph.jpg">
        </div>
        <div *ngIf="false" class="w-5/12 lg:ps-20">
            <div class="w-full bg-white rounded-xl p-5 py-10 text-center flex flex-wrap">
                <p class="font-semibold text-2xl w-full pb-4">Looking to Automate Manual HR & Payroll Processes?</p>
                <input class="border w-full rounded-md px-3 py-3 mb-2 outline-none focus:border-blue-900" placeholder="Name">
                <input class="border w-full rounded-md px-3 py-3 mb-2 outline-none focus:border-blue-900" placeholder="Phone Number">
                <input class="border w-full rounded-md px-3 py-3 mb-2 outline-none focus:border-blue-900" placeholder="Email Id">
                <input class="border w-full rounded-md px-3 py-3 mb-2 outline-none focus:border-blue-900" placeholder="Address">
                <button class="bg-blue-950 text-white px-5 py-2 rounded-md mx-auto mt-4">Get Demo</button>


            </div>
        </div>
    </div>
 
    <div class="bottom-0 bg-white w-full">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <defs>
                <linearGradient id="myGradient" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:#09327f;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#06183b;stop-opacity:1" />
                </linearGradient>
            </defs>
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" fill="url(#myGradient)"></path>
        </svg>
    </div>
</div>

<div class="crop-width flex flex-wrap">
    <p class="text-center w-full font-bold text-4xl pb-7">Streamlined HR solutions for cultivating
        <br>high-performance culture</p>
    <div *ngFor="let x of [1,2,3,4,5,6]" class="w-4/12 p-3">
        <div class="border rounded-xl p-5">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                  </svg>
                <p class="font-semibold ms-5">Core HR</p>
            </div>
            <ul class="ms-5 pt-4 text-sm font-medium text-gray-600" style="list-style-type:disc">
                <li class="pb-1">Employee data management.</li>
                <li class="pb-1">Organizational employee directory.</li>
                <li class="pb-1">Sending and signing of documents.</li>
                <li class="pb-1">Dashboards for data visualization.</li>
              </ul>
        </div>
    </div>
</div>
<div class="crop-width flex text-black py-20">
    <div class="w-1/2">
        <p class="py-2 bg-blue-100 w-fit px-2 rounded-md font-bold">Why Us?</p>
        <p class="py-3 font-bold text-5xl">Why schoolify is the best school management software?</p>
        <p class="text-sm pt-3 md:pe-20 text-gray-800">Besides, schoolify is a completely free online school management software, it has more school management features than any other online school management system in the market. It does not end here, schoolify is still enhancing features. You will be automatically updated as a new feature will be a part of our free school management software. Some main school management features are given below.</p>
    </div>
    <div class="w-1/2">
        <img class="w-full" src="https://framerusercontent.com/images/h8sNOmrbMVwy3x5afnEJQHjnI.png">
    </div>
</div>

<div class="crop-width flex items-center text-black py-20">
    <div class="w-1/2">
        <img class="w-full md:px-20" src="https://eskooly.com/assets/images/illustrations/mockups/landing3/mobile-chat.png">
    </div>
    <div class="w-1/2">
        <p class="py-2 bg-blue-100 w-fit px-2 rounded-md font-bold">Stay Mobile</p>
        <p class="py-3 font-bold text-5xl">Free Mobile Application</p>
        <p class="text-sm pt-3 md:pe-20 text-gray-800">Download and install our free mobile application to stay on mobile. Our mobile app is for every registered user like Admin, Teacher, Accountant, Management staff, Parents, and students.</p>
        <div class="flex pt-5">
            <img class="w-[200px] h-auto me-5" src="https://freelogopng.com/images/all_img/1664287128google-play-store-logo-png.png">
            <img class="w-[200px]" src="https://www.nicepng.com/png/full/25-253876_app-store-and-google-play-with-your-own.png">
        </div>
    </div>
</div>

